.herotext > p {
    border-left: 2px solid darkgreen;
    padding-left: 2px;
}
ul,li {list-style-type: none;}
body {
    background-color:darkolivegreen;
    font-family: sans-serif ;
    line-height: 1
}

header {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    min-width: 100vh;
    padding:10px;
    align-items:flex-start;
    border:5px solid rgb(2, 49, 2)
}

.rightlinks{
    display:flex;
    gap:30px;
}

.body {
    display:flex;
    flex-direction: column;
    /* border:5px solid orangered; */
    max-width:50%;
    padding:10px;


    
}

.top-part{
    display:flex;
    /* border:5px solid red; */
    align-self:Center;
    max-height: 30%;
    padding-top:30px;
    padding-left:30px;
    /* border-top: 5px dashed rgb(2, 49, 2); */
}

.mainimg {
   display:flex;
    align-self:center;
   padding:8px;
   background-clip: content-box;
  box-shadow: inset 0 0 0 10px rgb(2, 49, 2);

}

.logo img{
    max-width: 50px;
    max-height: auto;
    
}

.dis-header {
    display:flex;
    justify-content: space-between;
    border-bottom: 5px dashed rgb(2, 49, 2);
    width: 100vw;
    max-width:100%;
}

/*header ends here */

/* middle area begins here */
.notables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: olive;
    border: 5px solid rgb(2, 49, 2);
    padding: 20px;
    max-height: fit-content;
}

.notables > .pictures {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    flex:1;
    
}

.title {text-shadow: 1px 1px 1px black, 2px 2px 1px rgb(2, 49, 2); color: rgb(2, 49, 2)}
.info{max-width: 200px; text-align: center;text-shadow: 1px 1px 1px rgb(2, 49, 2), 2px 2px 1px rgb(2, 49, 2);}

.item > img {
width:200px;
height:200px;
padding:10px;
border-radius: 100px;

}

