.herotext > p {
    border-left: 2px solid darkgreen;
    padding-left: 2px;
}
ul,li {list-style-type: none;}
body {
    background-color:darkolivegreen;
    font-family: sans-serif ;
    line-height: 1
}

header {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    min-width: 100vh;
    padding:10px;
    align-items:flex-start;
    border:5px solid rgb(2, 49, 2)
}

.rightlinks{
    display:flex;
    gap:30px;
}

.body {
    display:flex;
    flex-direction: column;
    /* border:5px solid orangered; */
    max-width:50%;
    padding:10px;


    
}

.top-part{
    display:flex;
    /* border:5px solid red; */
    align-self:Center;
    max-height: 30%;
}

.mainimg {
   align-self:center;
   padding:20px;

}

.logo img{
    max-width: 50px;
    max-height: auto;
    
}

.dis-header {
    display:flex;
    justify-content: space-between;
    min-width:100%;
}

/*header ends here */

.notables {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: olive;
    border:5px solid rgb(2, 49, 2);
    padding: 20px;
}

.item {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.info{max-width: 200px;}

.item > img {
width:200px;
height:200px;
padding:10px;
border-radius: 100px;
}
